<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BusregisterISJ
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3><strong>Welcome Bryan!</strong></h3>
  <div>
    <img src="assets/images/1.jpg" >
  </div>
  <h3><strong>choose your bus</strong></h3>
  <div>
    <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
    <p>se deconnecter</p>
 </div> 

   <ion-grid >
    <ion-row>
      <ion-col size="6">
  <ion-card >
    <ion-card-header>
     <ion-card-title>SJI1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/images/4.jpg">
      <ion-badge >40 pls</ion-badge>
    </ion-card-content>
    </ion-card>
  </ion-col>


  <ion-col size="6">
    <ion-card>
      <ion-card-header>
      <ion-card-title>SJI2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <img src="assets/images/3.jpg">
        <ion-badge >30 pls</ion-badge>
      </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
        <ion-card-title>SJM</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="assets/images/5.jpg">
          <ion-badge >50 pls</ion-badge>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

      </ion-grid>
</ion-content>
